<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./addcliente.component.css">
</head>
<body>
    <main>
        <div class="contenedor__todo">
            <!--Division de clase para el regstro de usuarios-->
            <div class="contenedor__user-register">
                <!--Formulario para el registro de usuarios-->
                <form id="formRegistro" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm.value)" class="formulario__registro" autocomplete="off">
                    <h2>REGISTRO DE CLIENTES</h2>
                    <input #nombre type="text" placeholder="Nombre" formControlName="nombre">
                    <input #trabApe1 type="text" placeholder="Primer Apellido" formControlName="apellido1">
                    <input #trabApe2 type="text" placeholder="Segundo Apellido" formControlName="apellido2">
                    <input #trabCed type="number" placeholder="Cédula" max="999999999" formControlName="cedula">
                    <input #provincia type="text" placeholder="Provincia" formControlName="provincia">
                    <input #canton type="text" placeholder="Cantón" formControlName="canton">
                    <input #distrito type="text" placeholder="Distrito" formControlName="distrito">
                    <input #tel1 type="number" placeholder="Teléfono" formControlName="tel">
                    <input #user type="text" placeholder="Usiario" formControlName="user">
                    <input #pass type="password" placeholder="Contraseña" formControlName="pass">
                    <h6>Seleccione la fecha de nacimiento del cliente:</h6>
                    <input #birth type="date" placeholder="Fecha de nacimiento" formControlName="birth">
                    <button class="button" type="submit">Registrar Cliemte</button>
                </form>
                <!--Crear una tabla en este nivel-->
            </div>
            <div>
                <!--Espaciadores-->
                <p>&nbsp;</p>
                <p>&nbsp;</p>
            </div>
        </div>
    </main>
</body>
</html>