<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="tablaRegistro">
        <h2>REPORTE COSOLIDADO DE VENTAS</h2>
        <button>Actualizar Tabla</button>
        <!--Creacion de una tabla que muestra los datos de los clientes-->
        <table class="table table-dark table-striped-columns">
            <!--<tr> hacer el encabezado como asi o hacerlo con etiquetas 
                <th>Cliente:</th>
                <th>{{dataItem.nombreCliente}}</th>
            </tr>-->
            <tr>
                <th>Afiliado</th>
                <th>Compras</th>
                <th>Conductor</th>
                <th>Monto Total</th>
                <th>Monto Servicio</th>
            </tr>
            <tr *ngFor="let dataItem of EmpleadoList">modificar esto de acuerdo con los headders de la base de datos--
                <td>{{dataItem.afiliado}}</td>
                <td>{{dataItem.compras}}</td>
                <td>{{dataItem.conductor}}</td>
                <td>{{dataItem.mtotal}}</td>
                <td>{{dataItem.mservicio}}</td>
            </tr>
            <!--En esta parte es donmde se agregan las demas filas--> 
        </table>
    </div>
    
</body>
</html>